version: '3.8'
services:
  mysql:
    image: mysql:8.0
    container_name: hh_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: rootpassword
      MYSQL_DATABASE: hh_vacancies
      MYSQL_USER: hh_user
      MYSQL_PASSWORD: hh_password
    ports:
      - "3307:3306"  # 3307 на хосте -> 3306 в контейнере
    volumes:
      - mysql_data:/var/lib/mysql
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    command: --default-authentication-plugin=mysql_native_password

  adminer:
    image: adminer
    restart: always
    ports:
      - "8080:8080"

volumes:
  mysql_data: